# Composer dependencies
vendor

# Ensure Drupal sync directory is in version control
!config/drupal/sync

# Drupal files, modules, themes, etc.
web
config/drupal/settings.php

# Environment config files
*.env
